@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family:  'Poppins', sans-serif;
}

section{
    padding: 30px 18%;
}

/* hero-header starts */

.hero-section{
    background: linear-gradient(to left, hsla(216, 88%, 38%, 0.65), hsla(184, 100%, 22%, 0.65)), url('/images/BACKGROUND.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 65vh;
    width: 100%;
}

.hero-lg{
    display: flex;
}

.hero-txt-right{
    align-items: center;
}

.hero-lg .lg img{
    height: 100px;
    width: 100px;
    padding: 0 1rem;
}

.navbar li{
    display: inline-block;
    margin: 0 10px;
}

.navbar li a{
    color: #fff;
}

.navbar li a:hover{
    color: #2affff;
}

.hero-nav-content{
    display: flex;
    justify-content: space-between;
}

.hero-txt{
    /* padding: 0 1rem; */
    padding-top: 2.5rem;
    display: flex;
    justify-content: space-between;
}

.hero-txt h1{
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    letter-spacing: 2px;
}

.hero-txt h3{
    font-weight: 500;
    color: #2affff;
    text-transform: capitalize;
}

.hero-txt p{
    color: #fff;
    padding-top: 1.5rem;
}

.hero-btn{
    padding-top: 4rem;
}

.hero-btn button{
    padding: 10px 30px;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    font-size: 20px;
    background: #fff;
    border: 0;
    font-weight: 600;
}

.hero-btn button a{
    color: #0c51b8;
}

.hero-btn button:hover{
    background: transparent;
    border: 1.5px solid #fff;
    transition: all .5s;
}
.hero-btn button a:hover{
    color: #fff;
}

.search-bar{
    width: 80%;
    max-width: 300px;
    background: #fff;
    display: flex;
    border-radius: 60px;
    padding: 5px 5px;
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 5px 5px;
    font-size: 15px;
    color: black;
}

::placeholder{
    color: #cac7ff;

}

.search-bar button i{
    width: 15px;
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    cursor: pointer;
}
/* hero-header ends*/



/* card-section starts */
.card-section{
    height: 140vh;
    width: 100%;
}

.post-text p{
    color: #0c51b8;
    font-weight: 500;
    font-size: 18px;
}

.card-section .title{
    text-transform: uppercase;
}

.card-content{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    align-items: center;
    text-align: center;
}
.card-content {
    padding-top: 3rem;
}
.card-content .post img{
    height: 70%;
    width: 90%;
    margin: 1rem 0;
}

.title {
    color:rgb(12, 80, 182);
}

/* card-section ends */

/* sponsors starts */
.sponsors{
    height: 100vh;
    width: 100%;
    position: relative;
}

.sponsors::before{
    content: '';
    height: 1px;
    width: 100%;
    left: 0;
    background: #ccc;
    position: absolute;
    top: 5px;
    right: 0;
} 

.s-title h2{
    background: #cccc;
    width: 17%;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: uppercase;
}

.sponsors-logos{
    display: grid;
    grid-template-columns: repeat(4,4fr);
    padding-top: 3rem;
}

.sponsors-logos img{
    margin: 1rem 0;
    height: 120px;
    width: 120px;
}

.post-text h2{
    font-size: 20px;
}
/* sponsors ends */

/* footer starts */
.footer{
    padding-top: 1rem;
    height: 30vh;
    position: relative;
}

.footer-links a{
    margin: 0 1rem;
    color: black;
}

.footer::before{
    content: '';
    height: 1px;
    width: 100%;
    left: 0;
    background: #ccc;
    position: absolute;
    top: 5px;
    right: 0;
}

.footer-links a:hover{
    color: #0c51b8;
    text-decoration: underline;
}

.footer-content{
    padding-top: 1rem;
}

/* footer ends */